//- Admin Login
extends layout
block content
    .container
        h4.display-4.text-center #{message} 
        form#styleAdminLogin(action='/adminWelcome' method='post').form-group.text-center
            .row
                .col
                    label Username
                    br
                    input(type='text' name='adminUser' required).form-control
            .row
                .col
                    label Password
                    br
                    input(type='password' name='adminPass' required).form-control
            .row
                .col
                    input(type='submit' value='Login').btn.submitBtns.form-control
        .row
            .col.text-right
                a(href='/') Back