extends layout
block content
    .container
        h4.display-4.text-center=message
        form.form-group
            .row
                .col
                    label First Name:
                    input(type='text' value=fname disabled).form-control                      