extends layout
block content
    .container(style='text-align:center')
        h4.display-4.text-center #{message} 
        ul.nav.justify-content-center
            li.nav-item
                a.nav-link.active(href='/') Home
            li.nav-item
                a.nav-link(href='/about') About Us
            li.nav-item
                a.nav-link(href='/accountRequest') New Account
            li.nav-item
                a.nav-link(href='/moneymanage') Money Management 
        .row
            .col-10(style='text-align:center')
                img(src='./images/bankPic.jpg').img-fluid.img-thumbnail
            .col-2.text-justify
                a(href='/login') Already have an account? Log in here.
                hr
                a(href='/adminLogin') Admin
        hr
        .row
            .col
                .card
                    img(src='/images/easySignup.png' style='height: 338px').img-fluid.card-img-top
                    .card-body
                        h5.card-text Easy Signup!
            .col
                .card
                    img(src='/images/checking.png' style='height: 338px').img-fluid.card-img-top
                    .card-body
                        h5.card-text Checking &amp; Savings!
            .col
                .card
                    img(src='/images/moneyManage.png' style='height: 338px').img-fluid.card-img-top
                    .card-body
                        h5.card-text Money Management!   