extends layout
block content
        h4.display-4.text-center    
            |#{message}
        .row
            .col
                form.styleLogin(action='/viewMyAccount' method='post' style='padding-left: 25%').form-group
                    .row
                        .col 
                            label Username:
                            br
                            input(type='text' name='usName' required).form-control
                    .row
                        .col
                            label Password:
                            br
                            input(type='password' name='usPass' required).form-control
                    .row
                        .col
                            input(type='submit' value='Login').btn.submitBtns.form-control
        .row
            .col.text-right
                a(href='/') Back