extends layout
block content
    .row
        .col.text-center
            h4 Your new account has been created. Please click below to login.
            input(type='button' value='Login' onclick='logout()').btn.submitBtns
            br