@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap')

.headBG
  padding: 15px
  color: whitesmoke;
  background-color: #009999
  border-radius: 3px;
  width: 25%
  
.footerBG
  padding: 15px
  color: #009999;
  background-color: whitesmoke;
  border-radius: 3px;

body.container
  padding: 25px
  font-family: 'Gayathri', sans-serif;
  background-color: #009999;
  color: black

a
  color: whitesmoke 

a:hover
  border-radius: 15px
  padding: 10px
  background-color: #00e6e6
  color: #009999;

a:visited
  color: whitesmoke 

.nav-link.active
  border-radius: 15px
  padding: 10px
  background-color: #00e6e6
  color: #009999;
  text-decoration-line: underline

.submitBtns
  background-color: whitesmoke 
  color: #009999

.parallax
  background-image: url('/images/bankPic.jpg')
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow hidden
  padding: 50px
  color: whitesmoke

.parallax2
  background-image: url('/images/NYCBG.jpg')
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow hidden
  padding: 50px
  color: whitesmoke 
  
.parallax3
  background-image: url('/images/coinsSpilled.jpg')
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow hidden
  padding: 50px
  color: whitesmoke 

.parallax4
  background-image: url('/images/city.jpg')
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow hidden
  padding: 50px
  color: whitesmoke 

.parallax5
  background-image: url('/images/money.jpg')
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  overflow hidden
  padding-top: 40px
  color: whitesmoke 

.styleRow
  background-color: whitesmoke
  padding: 25px
  color: black
  border-radius: 10px

.styleButton
  background-color: #009999
  color: whitesmoke 

#moneyStyle
  background-color: whitesmoke 
  color: #009999

.styleMoneyRow
  background-color: whitesmoke
  padding: 25px
  color: black
  border-radius: 20px

.styleLogin
  width: 75%

#styleAdminLogin
  width: 75%
  padding-left: 200px

.styleImg
  padding-top: 50px
  height: 350px
  width: 350px

.styleTrans
  padding-left: 150px
  padding-right: 150px


