@import url("https://fonts.googleapis.com/css?family=Gayathri&display=swap");
.headBG {
  padding: 15px;
  color: #f5f5f5;
  background-color: #8b0000;
  border-radius: 3px;
}
.footerBG {
  padding: 15px;
  color: #f5f5f5;
  background-color: #8b0000;
  border-radius: 3px;
}
body {
  padding: 25px;
  font-family: 'Gayathri', sans-serif;
}
a {
  color: #4169e1;
}
.submitBtns {
  background-color: #8b0000;
  color: #fff;
}
