@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap')

.headBG
  padding: 15px
  color: whitesmoke;
  background-color: darkred;
  border-radius: 3px;
  
.footerBG
  padding: 15px
  color: whitesmoke;
  background-color: darkred;
  border-radius: 3px;

body
  padding: 25px
  font-family: 'Gayathri', sans-serif;

a
  color: royalblue;

.submitBtns
  background-color: darkred
  color: white 